html, body {
  width: 100%;
  height:100%;
}

/*========== main ==========*/
.parallax-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
}

h1{
  font-size: 2.2rem;
}

h1, h5{
  color: black;
  font-family:'Quodlibet Sans Light';
}

.content_title{
  margin-right: 95px;
}

.section_content {
  background: linear-gradient(-45deg, #e65100, #ffcc80 , #f3e780, #e0e0e0 );  
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  display: flex;
  justify-content: center; /* Вирівнює контент по горизонталі */
  text-align: center; /* Вирівнює текст по центру */
}

.intro_par {
  max-width: 800px; /* Задає максимальну ширину для гарного вигляду */
  width: 100%;
  text-align: left;
}

.columns {
  display: flex;
  justify-content: center;
  gap: 62px;
  margin-bottom: 50px;
  text-align: left;
}

.column {
  list-style: none;
  font-size: 18px;
}

.column li {
  margin-bottom: 10px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


::placeholder {
    color: rgb(5, 0, 0);
    opacity: 1; /* Firefox */
  }
 
  .btn-floating {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    padding: 16px;
    width: 56px;
    height: 56px;
    text-align: center;
    line-height: 56px;
    box-sizing: border-box;
    cursor: pointer;
  }
  
  .activator {
    background: linear-gradient(-45deg, #e65100, #ffcc80, #f3e780);
    animation: pulse-animation 2s infinite;
  }
  
  .material-icons.right {
    font-size: 24px;
    color: white;
  }
  
  @keyframes pulse-animation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
    


/*========== navbar ==========*/
.nav__els{
  display: flex; 
  align-items: center; 
  gap: 15px;
}

.nav__categories{
  width: 160px;
}

.nav__actions{
  color: black;
  display: flex;
  flex-direction: column; /* Stack icon and label vertically */
  align-items: center; /* Center horizontally */
  position: relative; /* Allow positioning of the label */
  top: -7px;
}

.icon-label {
  font-size: 0.8rem; /* Small text size */
  margin-top: 5px; /* Space between the icon and label */
  color: black; /* Label color */
  position: absolute; /* Position it absolutely within the anchor */
  bottom: -20px; /* Adjust the position of the label */
}

.search_nav{
  display: flex; 
  align-items: center; 
  margin-left: auto; 
  gap: 15px;
}

.search_btn {
  background: #6da08e;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center; /* Center the icon horizontally */
  align-items: center; /* Center the icon vertically */
  width: 40px; /* Set the button width */
  height: 38px; /* Set the button height */
}

.search_btn .material-icons {
  font-size: 20px; /* Adjust icon size */
  margin: 0; /* Remove any margin around the icon */
}

.search_nav input.search_field {
  background-color: white !important;
  color: black;
  border: 1px solid #ccc;
  padding: 0 10px;
  height: 38px;
  outline: none;
  width: 199px;
  margin-right: -16px;
  margin-top: 8px;
}

.search_nav input.search_field::placeholder {
  color: grey;
  opacity: 1; 
}

.sidenav_menu {
  font-family: 'Quodlibet Sans Light', sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #333;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 29px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #dce775;
  text-align: center;
}

#sidenav_home,
#sidenav_main,
#sidenav_login,
#sidenav_logout,
#sidenav_add,
#sidenav_cat{
  color: #6da08e;
}

/*========== posts ==========*/
body{
  background: linear-gradient(-45deg, #e65100, #ffcc80 , #f3e780, #e0e0e0 );  
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.card_post{
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
  min-height: 100%; 
  height: 330px;
}

.card_rev_button{
  background: linear-gradient(-45deg, #e65100, #ffcc80, #f3e780);
}

#add_btn{
  color: black;
}

#close_btn{
  color: black;
}

.card_post_title{
  color:black;
}

.card_rev{
  text-align: left;
}

#card_post_title{
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}

#post_rev_title{
  color:black; 
  max-width: 70%; 
  overflow-wrap: break-word; 
  word-wrap: break-word;
}

.card .card_rev {
  padding: 24px;
  position: absolute;
  background-color: #fff;
  width: 100%;
  overflow-y: auto;
  left: 0;
  top: 100%;
  height: 101%;
  z-index: 3;
}



/*========== footer ==========*/
.footer{
  padding: 30px;
  width: 100%;
}

.main_footer{
  background-color: #fd8013d2;
}

.post_footer{
  background-color: #c0ca33;
}

.main_footer,
.post_footer {
  padding: 30px 0;  
  text-align: center;  
  color: #000000;   
}

.main_footer h5,
.post_footer h5 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.main_footer p,
.post_footer p {
  font-size: 1rem;
  margin: 5px 0;
  font-family: 'Quodlibet Sans Light', sans-serif;
}

.footer-copyright_main {
  background: rgb(251, 96, 0); 
}

.footer-copyright_post {
  background: rgb(139 195 74); 
}

.footer-copyright_main,
.footer-copyright_post {
  padding: 10px 0;
  text-align: center;
  color: #000000;
  font-size: 0.9rem;
  font-family: 'Quodlibet Sans Light', sans-serif;
} 


/*========== author ==========*/
.author-box-container {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  margin: 16px;
  border-radius: 73px;
  max-width: 603px;
  height: 116px;
  box-shadow: 0 4px 16px -5px rgba(0, 0, 0, 1.3);
}

.author-box-container .author-image {
  width: 115px;  /* Збільшено ширину контейнера */
  height: 115px; /* Збільшено висоту контейнера */
  border-radius: 50%; /* Робимо круглим */
  overflow: hidden; /* Обрізаємо все зайве за межами кола */
  flex: 0 0 auto;  /* Фіксована ширина */
}

.author-box-container .author-image img {
  width: 100%; /* Зображення заповнює контейнер */
  height: 100%; /* Зображення заповнює контейнер */
  object-fit: cover; /* Зберігає пропорції зображення і обрізає зайве */
}


.author-box-container .author-info {
  flex: 2;
  padding: 0 24px;
}

.author-box-container .author-info h3 {
  font-size: 24px;
  margin: 0;
}

.author-box-container .author-info .description {
  line-height: 2;
  color: #555;
}

.author-box-container .author-info .social a {
  font-size: 32px;
  text-decoration: none;
  padding: 0 16px;
  display: inline-block;
  transition: all 400ms;
}

.author-box-container .author-info .social a:hover {
  transform: scale(1.1);
}

.author-box-container .author-info .social .fa-facebook-square {
  color: #3b5998;
}

.author-box-container .author-info .social .fa-twitter-square {
  color: #1da1f2;
}

.author-box-container .author-info .social .fa-instagram-square {
  color: #fd1d1d;
}

@media (max-width: 500px) {
  .author-box-container {
      flex-direction: column;
      max-width: 240px;
      padding: 20px 8px;
      text-align: center;
  }

  .author-box-container .author-image {
      width: 100%;
      margin-bottom: 20px;
  }
}