
body {
    background: linear-gradient(-45deg, #e65100, #ffcc80, #f3e780, #e0e0e0);
    background-size: 700% 700%;
    animation: gradient 15s ease infinite;
}

.custom-dropdown-content li > a, 
.custom-dropdown-content li > span {
   font-size: 16px;
   color: green;
   display: block;
   line-height: 22px;
   padding: 14px 16px;
}

   .form-container {
       background-color: white;
       padding: 26px;
   }

   .container {
       display: flex;
       justify-content: center;
       align-items: flex-start;
       height: 100vh;
       padding: 0;
   }

   #id_category {
       width: 100%;
       padding: 10px;
       margin-top: 5px;
       height: 70px;
       border: 1px solid #ccc;
       border-radius: 4px;
   }

   #img{
       height: 50px;
   }


   .form-container {
       background-color: white;
       padding: 30px;
       width: 70%;
       border-radius: 8px;
       box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
       padding-top: 0;
   }

   .form-group label {
       color: black;
   }

   .form-group input,
   .form-group select {
       width: 100%;
       padding: 10px;
       margin-top: 5px;
       height: 70px;
       border: 1px solid #ccc;
       border-radius: 4px;
   }

   .form-group textarea {
       width: 100%;
       padding: 10px;
       margin-top: 5px;
       height: 100px;
       border: 1px solid #ccc;
       border-radius: 4px;
   }

   .btn-primary,
   .btn-secondary {
       margin-top: 20px;
       background-color: #4CAF50;
       border-color: #183119;
       color: white;
       padding: 12px 24px;
       font-size: 16px;
       font-weight: bold;
       border-radius: 8px;
       transition: background-color 0.3s ease, transform 0.2s ease;
       width: auto;
       display: inline-flex;
       justify-content: center;
       align-items: center;
       text-align: center;
   }

   .btn-primary:hover,
   .btn-secondary:hover {
       background-color: #388E3C;
       border-color: #2C6B2F;
       transform: translateY(-3px);
   }

   .btn-primary:active,
   .btn-secondary:active {
       background-color: #2C6B2F;
       border-color: #1E4C23;
       transform: translateY(0);
   }

   .btn-secondary {
       margin-left: 40px;
   }

   h2 {
       font-family: 'Quodlibet Sans Light', sans-serif;
       font-size: 28px;
       font-weight: bold;
       color: #333;
       letter-spacing: 4px;
       text-transform: uppercase;
       text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
       margin-top: 29px;
       margin-bottom: 10px;
       padding: 10px;
       background-color: #dce775;
       text-align: center;
   }

   .current-category {
       margin-top: 0px;
       color: #555;
       margin-bottom: 14px;
   }