{% extends 'navbar.html' %}

{% block content %}

<div class="add-post-container mt-5">
    <div class="add-post-form-container">
        <h1 class="add-post-title">Додати пост...</h1>
        <form method="POST" enctype="multipart/form-data" id="addPostForm">
            {% csrf_token %}

            <div class="add-post-form-group">
                <label for="{{ form.title.id_for_label }}">Назва посту</label>
                {{ form.title }}
            </div>

            <input list="categories" name="category" id="id_category" class="form-control" placeholder="Введіть або виберіть категорію">
            <datalist id="categories">
                {% for cat in category %}
                    <option value="{{ cat.name }}">
                {% endfor %}
            </datalist>

            <div class="add-post-form-group">
                <label for="{{ form.text.id_for_label }}">Текст</label>
                {{ form.text }}
            </div>

            <div class="add-post-form-group image">
                <label for="{{ form.img.id_for_label }}">Зображення</label>
                {{ form.img }}
            </div>

            <div class="add-post-form-group">
                <label for="{{ form.post_slug.id_for_label }}">Посилання на пост</label>
                {{ form.post_slug }}
                <div class="slug-tooltip">Посилання на пост має бути унікальним та не рівним "default_post".</div>
                {% if request.method == "POST" %}
                {% if form.post_slug.errors %}
                    <div class="invalid-feedback" style="display: block;">
                        {% for error in form.post_slug.errors %}
                            <p>Це посилання вже зайняте. Оберіть інше.</p>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if form.post_slug.value == "default_post" %}
                    <div class="invalid-feedback" style="display: block;">
                        <p>Посилання на пост не може бути "default_post".</p>
                    </div>
                {% endif %}
            {% endif %}
            
            </div>
            <button type="submit" class="btn btn-add-post">Створити пост</button>
        </form>
    </div>
</div>

{% endblock %}
