{% extends 'navbar.html' %}

    {% block content %}
            <div class = "container">
                <div class = "row">
                    {% for post in posts %}
                    {% if forloop.first %}
                    <div class="col s2 l2">
                    </div>
                    <div class = "col s10 l5">
                {% else %}
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col s2">
                            </div>
                            <div class="col s10 l5">    
                        {%else%}
                            <div class="col s10 l5 offset-s2 offset-l2">
                        {% endif %}
                {% endif %}
                    <div class="card hoverable">
                        <div class="card-image">    
                            <img class = "center-align responsive-img">
                                <img src="/{{ post.img }}">
                                <a class="btn-floating activator">
                                    <i class="material-icons right">add</i>
                                </a>                                  
                        </div>

                        <div class="card-content">
                            <span class="card-title">
                                <b><h5><a href="/post/{{ post.post_slug }}">{{ post.title }}</a></h5></b>
                            </span>
                        </div>

                        <div class="card-reveal">
                            <span class="card-title"><a href="/post/{{ post.post_slug }}">{{ post.title }}</a><i class="material-icons right">close</i></span>
                            <p><div class="card-content" >{{ post.text|truncatechars_html:100|safe }}</div></p>
                        </div>
                            <br>
                        </div>
                    </div>
                {% endfor %}
            </div>
{% endblock %}