<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parallax</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'js/parallax.js' %}"></script>
</head>

<body>
    <ul class="sidenav" id="slide-out" style="background-color:#dce775">
        <div class="row center-align">
          <h3 class="sidenav_menu">меню</h3>
        </div>
        <li><a class="active" href="/"><i class="material-icons" id="sidenav_home">home</i>Головна</a></li>
        <li><a href="/posts"><i class="material-icons" id="sidenav_main">laptop_mac</i>Всі спеціальності</a></li>
        <li><a href="{% url 'login' %}"><i class="material-icons" id="sidenav_login">login</i>Ввійти</a></li>
        <li><a href="{% url 'logout' %}"><i class="material-icons" id="sidenav_logout">logout</i>Вийти</a></li>
        <li><a href="{% url 'account' %}"><i class="material-icons" id="sidenav_add">person</i>Акаунт</a></li>
    </ul>

      <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper #dce775 lime lighten-2">
                <div class="row">
                  <a href="/" data-target="slide-out" class="sidenav-trigger show-on-med-and-down"><i class="material-icons">menu</i></a>
                    <ul class="hide-on-med-and-down left">
                      <li><a class="waves-effect waves-light black-text" href="/">Головна</a></li>
                      <li><a class="waves-effect waves-light black-text" href="/posts">Всі спеціальності</a></li>
                      <!--<li><a class="waves-effect waves-light black-text" href="/admin">Адміністратор</a></li>-->
                  </ul>                
                </div>
              </div>
              <br>
            </div>
        </nav>

    <div class="parallax-container">
        <div class="parallax">
            <img src="{% static 'img/parallax/comp.jpg' %}" alt="works" class="responsive-img">            
        </div>
    </div>

    <div class="section_content">
            <div class="intro_par">
                <h1><b>Комп'ютерні спеціальності</b></h1>
                <p><i>Останнім часом професії у сфері IT набирають свою популярність...</i></p>
                <p>- по-перше, це дуже цікава діяльність, яка дозволяє створювати чудові продукти і проєкти власними руками;</p>
                <p>- по-друге, програмування і комп’ютерні спеціальності високо цінуються в сучасному суспільстві, тому справжні професіонали 
                    своєї справи можуть розраховувати на пристойну заробітну плату;</p>
                <p>- по-третє, робота з комп’ютерами не зобов’язує наявність офісу або певного місця праці, тому цілком своєю справою можна займатися вдома або в кафе.</p>
                <p>Крім цього, потрібно враховувати, що розвиток технологій зобов’язує всіх людей, так чи інакше, розбиратися в «залізі». Складно уявити, наскільки полегшило роботу деяких спеціальностях впровадження програм і комп’ютерів.</p>
                <p>Перспективи IT-професій зараз дуже цікавлять молодь. Тому в статті будуть розглянуті найпопулярніші, вигідні і прибуткові професії, пов’язані з комп’ютером.</p>
                <br><br>
            </div>       
    </div>       
    
    <div class="parallax-container">
        <div class="parallax">
            <img src="{% static 'img/parallax/code.jpg' %}" alt="works" class="responsive-img">   
        </div>
    </div>

    <div class="section_content">
        <div class="container">
            <h1 class="content_title">Зміст статті</h1>
            <div class="columns">
                <ul class="column">
                    <li>Адміністратор баз даних</li>
                    <li>Веб-дизайнер</li>
                    <li>Веб-програміст</li>
                    <li>Бізнес-аналітик</li>
                    <li>Верстальник</li>
                    <li>Консультант ERP-систем</li>
                    <li>Менеджер з продажу</li>
                    <li>Контент-менеджер</li>
                    <li>Менеджер інтернет-проєктів</li>
                    <li>Програміст</li>
                </ul>
                <ul class="column">
                    <li>Програміст 1С</li>
                    <li>Аналітик</li>
                    <li>Редактор сайтів</li>
                    <li>Системний адміністратор</li>
                    <li>Системний аналітик</li>
                    <li>Спеціаліст з безпеки інформації</li>
                    <li>Сценарист комп’ютерних ігор</li>
                    <li>Тестувальник ПЗ</li>
                    <li>ERP-програміст</li>
                    <li>HTML-верстальник</li>
                </ul>
            </div>
        </div>
    </div>
    

    <footer>
        <div class="main_footer">
            <div class="row">
                <h5><b>Ви долистали до кінця!</b></h5>                           
                <p>Джерело інформації: www.education.ua</p>                                        
                <p>Дані розробника:</p>
                <p><i>Instagram</i> - korovay_z_sillyu</p>
                <p><i>Email</i> - vladahvala8@gmail.com</p>
            </div>
        </div>
        <div class="footer-copyright_main">
            <p>© Programming.ua</p>
        </div>
    </footer>
      
</body>
</html>




