{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>

    
    <body>

        <ul class="sidenav" id="slide-out" style="background-color:#f3e780">
          <div class="row center-align">
            <u class="black-text"><b><h3 class="black-text">меню</h3></b></u>
          </div>
          <div class="row">
              <div class="col s1">
                  <button class="waves-effect waves-light btn #8bc34a light-green" form="search_nav" type="submit"><i class="material-icons">search</i></button>
              </div>   
              <div class="col s8 offset-s2">             
                  <form method=GET action="{% url 'search' %}" id="search_nav">
                    {% csrf_token %}
                    <input type="search" name="searchpost" placeholder="Шукати статтю" style="text-color:black">
                  </form> 
              </div> 
          </div>
          <li><a class="active" href="/"><i class="material-icons #e65100 orange-text">home</i>Головна</a></li>
          <li><a href="/posts"><i class="material-icons #e65100 orange-text">laptop_mac</i>Спеціальності</a></li>
          <li><a href="/admin"><i class="material-icons #e65100 orange-text">https</i>Адміністратор</a></li>
        </ul>

        <ul id='dropMenu' class='dropdown-content'>
          {% for cat in category %}
            <li><a href="/{{cat.category_slug}}" style="color:black">{{cat.name}}</a></li>
          {% endfor %}
        </ul>
        
        <div class="navbar-fixed">
          <nav>
              <div class="nav-wrapper #dce775 lime lighten-2">
                <div class="row">
                  <a href="/" data-target="slide-out" class="sidenav-trigger show-on-med-and-down"><i class="material-icons">menu</i></a>
                    <ul class="hide-on-med-and-down left">
                      <li><a class="waves-effect waves-light black-text" href="/">Головна</a></li>
                      <li><a class="waves-effect waves-light black-text" href="/posts">Спеціальності</a></li>
                      <li><a class="waves-effect waves-light black-text" href="/admin">Адміністратор</a></li>
                      <li><button class="btn-large waves-effect waves-light #8bc34a light-green" form="search_nav_main" type="submit"><i class="large material-icons center ">search</i></buton></li>
                    </ul> 
                      <div class="col s2 hide-on-med-and-down">             
                        <form method=GET action="{% url 'search' %}" id="search_nav_main">
                          {% csrf_token %}
                          <input type="search" name="searchpost" placeholder="Шукати статтю">
                        </form> 
                      </div> 
                  <div class="col offset-s4">
                      <a href="/posts" class="dropdown-trigger btn hide-on-med-and-down #8bc34a light-green" data-target='dropMenu'>категорії спеціальностей</a>
                    </div>
                  </div>
                </div>
                <br>
              </div>
          </nav>

            
        <script>  
            document.addEventListener('DOMContentLoaded', function() {
              var elems = document.querySelectorAll('.dropdown-trigger');
              var instances = M.Dropdown.init(elems, {
                outDuration:1000,
                hover:true
              });
            });
        </script>

          <script>
              const slide_menu = document.querySelectorAll(".sidenav");
              M.Sidenav.init(slide_menu, {});
          </script>

        </div>
        <br><br>
        <div class = "row">
          <div class="col s9 offset-s2">
              {% block carousel %}
              {% endblock  %}
          </div>
        </div>

          {% block content %}
          {% endblock %}
 
        {% if messages %}
        <script> 
          M.AutoInit();
          {% for msg in messages %}
            {% if msg.tags == 'error' %}
              M.toast({html: "{{msg}}", classes: "orange"});
            {% elif msg.tags == 'success' %}
              M.toast({html: "{{msg}}", classes: "green"});
            {% elif msg.tags == 'info' %}
              M.toast({html: "{{msg}}", classes: "blue"});
            {% endif %}
          {% endfor %}
        </script>
      {% endif %}
    </body>

</html>