{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body>

        <ul class="sidenav" id="slide-out">
          <div class="row center-align">
            <u class="blue-text"><b><h3 class="blue-text">меню</h3></b></u>
          </div>
          <div class="row">
              <div class="col s1">
                  <button class="waves-effect waves-light btn #ef5350 red lighten-1" form="search_nav" type="submit"><i class="material-icons">search</i></button>
              </div>   
              <div class="col s8 offset-s2">             
                  <form method=POST action="{% url 'search' %}" id="search_nav">
                    {% csrf_token %}
                    <input type="search" name="searchpost" placeholder="Шукати статтю">
                  </form> 
              </div> 
          </div>
          <div class="row">
            <div class="col s1">
              <i class="small material-icons red-text">attachment</i> 
            </div>      
            <div class="col s8 offset-s1"> 
              <a class="active" href="/">Головна</a>
            </div>
          </div> 
          <div class="row">
            <div class="col s1">
              <i class="small material-icons red-text">attachment</i> 
            </div>      
            <div class="col s8 offset-s1"> 
              <a href="/admin">Адміністратор</a>
            </div>
          </div>  
        </ul>

        <ul id='dropMenu' class='dropdown-content'>
          {% for cat in category %}
            <li><a href="/{{cat.category_slug}}">{{cat.name}}</a></li>
          {% endfor %}
        </ul>
        
        <div class="navbar-fixed">
          <nav>
              <div class="nav-wrapper #ef5350 red lighten-1">
                <div class="row">
                  <div class="col s1"> 
                    <a href="/" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
                  </div>
                  <div class="col offset-s3">                    
                    <a href="/" class="brand-logo white-text text-darken-2 hide-on-med-and-down">Комп'ютерні спеціальності</a>
                  </div>
                  <div class="col offset-s8">
                      <a href="/" class="dropdown-trigger btn hide-on-med-and-down" data-target='dropMenu'>категорії спеціальностей</a>
                    </div>
                  </div>
                </div>
                <br>
              </div>
          </nav>

            
        <script>  
            document.addEventListener('DOMContentLoaded', function() {
              var elems = document.querySelectorAll('.dropdown-trigger');
              var instances = M.Dropdown.init(elems, {
                outDuration:1000,
                hover:true
              });
            });
        </script>

          <script>
              const slide_menu = document.querySelectorAll(".sidenav");
              M.Sidenav.init(slide_menu, {});
          </script>

        </div>
        <br><br>
        <div class = "row">
          <div class="col s9 offset-s2">
              {% block carousel %}
              {% endblock  %}
          </div>
        </div>

          {% block content %}
          {% endblock %}
 
        {% if messages %}
        <script> 
          M.AutoInit();
          {% for msg in messages %}
            {% if msg.tags == 'error' %}
              M.toast({html: "{{msg}}", classes: "orange"});
            {% elif msg.tags == 'success' %}
              M.toast({html: "{{msg}}", classes: "green"});
            {% elif msg.tags == 'info' %}
              M.toast({html: "{{msg}}", classes: "blue"});
            {% endif %}
          {% endfor %}
        </script>
      {% endif %}
    </body>
</html>