{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}?v=2"> 

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="{% static 'js/main.js' %}"></script>

        <!--=============== REMIXICONS ===============-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">
      </head>

    
    <body>

      <ul class="sidenav" id="slide-out" style="background-color:#dce775">
        <div class="row center-align">
          <h3 class="sidenav_menu">меню</h3>
        </div>
        <div class="row">
            <div class="col s8">             
              <form method="GET" action="{% url 'search' %}" class="search_nav">
                  {% csrf_token %}
                  <input type="search" class="search_field" name="searchpost" placeholder="Шукати тут..." autocomplete="off">
                  <button type="submit" class="search_btn">
                    <i class="material-icons">search</i> <!-- Search icon -->
                  </button>
              </form> 
            </div> 
        </div>
        <li><a class="active" href="/"><i class="material-icons" id="sidenav_home">home</i>Головна</a></li>
        <li><a href="/posts"><i class="material-icons" id="sidenav_main">laptop_mac</i>Всі спеціальності</a></li>
        <li><a href="{% url 'login' %}"><i class="material-icons" id="sidenav_login">login</i>Ввійти</a></li>
        <li><a href="{% url 'logout' %}"><i class="material-icons" id="sidenav_logout">logout</i>Вийти</a></li>
        <li><a href="{% url 'add_post' %}"><i class="material-icons" id="sidenav_add">add</i>Додати пост</a></li>
        <li><a href="{% url 'account' %}"><i class="material-icons" id="sidenav_add">person</i>Акаунт</a></li>
        <!-- Випадаюче меню для категорій -->
        <li>
          <a href="#!" class="dropdown-trigger-mob" data-target="dropMenu"><i class="material-icons" id="sidenav_cat">category</i>Категорії</a>
          <ul id="dropMenu" class="dropdown-content">
            {% for cat in category %}
              <li><a href="/{{cat.category_slug}}" style="color:black">{{cat.name}}</a></li>
            {% endfor %}
          </ul>
        </li>
        
        
      </ul>
      

        <ul id='dropMenu' class='dropdown-content'>
          {% for cat in category %}
            <li><a href="/{{cat.category_slug}}" style="color:black">{{cat.name}}</a></li>
          {% endfor %}
        </ul>
        
        <div class="navbar-fixed">
          <nav>
              <div class="nav-wrapper #dce775 lime lighten-2">
                  <a href="/" data-target="slide-out" class="sidenav-trigger show-on-med-and-down"><i class="material-icons">menu</i></a>
                  <ul class="nav__els hide-on-med-and-down">
                    <li><a class="waves-effect waves-light black-text" href="/">Головна</a></li>
                    <li><a class="waves-effect waves-light black-text" href="/posts">Всі спеціальності</a></li>
                    <li>
                      <a href="/posts" class="nav__categories dropdown-trigger btn hide-on-med-and-down #8bc34a light-green black-text" data-target='dropMenu'>
                        категорія{% if selected_category %}: {{ selected_category.name }}{% endif %}
                      </a>
                    </li>
                    <li>
                      <a href="{% url 'add_post' %}" class="nav__actions">
                        <i class="ri-file-add-line"></i>
                        <span class="icon-label">+ пост</span> 
                      </a>
                    </li>
                    <li>
                      <!-- <a href="/admin" class="nav__actions"><i class="ri-user-line"></i>
                        <span class="icon-label">Адмін</span> 
                      </a> -->
                    <li>
                    
                      </a>
                    </li>
                  
                    <!-- Вирівнюємо пошук і кнопки справа -->
                    <div class="search_nav">
                      <li>
                        <form method="GET" action="{% url 'search' %}" class="search_nav">
                          {% csrf_token %}
                          <input type="search" class="search_field" name="searchpost" placeholder="Шукати тут..." autocomplete="off">
                          <button type="submit" class="search_btn">
                            <i class="material-icons">search</i> <!-- Search icon -->
                          </button>
                          
                        </form>
                      </li>
                      
                      <li>
                        <a href="{% url 'login' %}" class="nav__actions">
                          <i class="ri-login-box-line"></i>
                          <span class="icon-label">Ввійти</span> 
                        </a>
                      </li>
                      <li>
                        <a href="{% url 'account' %}" class="nav__actions">
                          <i class="ri-user-line"></i>
                          <span class="icon-label">Акаунт</span> 
                        </a>
                      </li>
                      <li>
                        <a href="{% url 'logout' %}" class="nav__actions">
                          <i class="ri-logout-box-r-line"></i>
                          <span class="icon-label">Вийти</span> 
                        </a>
                      </li>
                    </div>
                  </ul>
              </div>
            </nav>
          </div>

        <br>

        {% block content %}
        {% endblock %}

    </body>

</html>