{% extends 'navbar.html' %}

        {% block carousel %}
            <div class = "container">
                <div class="carousel carousel-slider center">
                    {% for post in slide_posts %}
                    <div class="carousel-item white white-text" href="/post/{{ post.post_slug }}">
                        <div class="card">
                            <span class="card-title">
                                <b><h5><a href="/post/{{ post.post_slug }}">{{ post.title }}</a></h5></b>
                            </span>
                            <div class="card-image">
                                <img class = "center-align responsive-img"
                                src="/{{ post.img }}">
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    var elems = document.querySelectorAll('.carousel');
                    var instances = M.Carousel.init(elems, {
                        fullWidth: false,
                        indicators:true,
                        numVisible: 3,
                        dist: -250,
                    });
                    setInterval(function(){
                        M.Carousel.getInstance(elems[0]).next();
                    }, 4000);
                });
            </script>
            {% endblock  %}

    {% block content %}
    <div class = "container">
        <br>
        {% if posts %}
            <div class = "row">
                {% for post in posts %}
                {% if forloop.first %}
                <div class="col s2 l2">
                </div>
                <div class = "col s10 l5">
            {% else %}
                    {% if forloop.counter|divisibleby:2 %}
                        <div class="col s2">
                        </div>
                        <div class="col s10 l5">    
                    {%else%}
                        <div class="col s10 l5 offset-s2 offset-l2">
                    {% endif %}
            {% endif %}
                        <div class="card hoverable">
                            <div class="card-image">    
                                <img class = "center-align responsive-img">
                                    <img src="/{{ post.img }}">
                                <a class="btn btn-floating btn-large halfway-fab pulse activator #ef5350 red lighten-1"><i class="material-icons right">add</i></a>
                            </div>

                            <div class="card-content">
                                <span class="card-title">
                                    <b><h5><a href="/post/{{ post.post_slug }}">{{ post.title }}</a></h5></b>
                                </span>
                            </div>

                            <div class="card-reveal">
                                <span class="card-title"><a href="/post/{{ post.post_slug }}">{{ post.title }}</a><i class="material-icons right">close</i></span>
                                <p><div class="card-content">{{ post.text|truncatechars:300|safe }}...</div></p>
                            </div>
                            <br>
                        </div>
                    </div>
                {% endfor %}
            </div>

        
            <div class="row center-align">
                <div class = "col s2">
                </div>
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="waves-effect"><a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
                    {% else %}
                        <li class="disabled"><a href=""><i class="material-icons">chevron_left</i></a></li>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li class="active"><a href="">{{num}}</a></li>
                        {% else %}
                            <li class="waves-effect"><a href="?page={{ num }}">{{num}}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="waves-effect"><a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
                    {% else %}
                        <li class="disabled"><a href=""><i class="material-icons">chevron_right</i></a></li>
                    {% endif %}
                </ul>                
            </div>

        {% endif %}
    </div>
    <br><br><br>
    <div class="section red">
      <div class="container">
    <pre><h5>Ви долистали до кінця!</h5>                           
    Джерело інформації: www.education.ua                                  Конфіденційність: уся інформація захищена
  
    Дані розробника:
    <i>Instagram</i> - korovay_z_sillyu
    <i>Email</i> - vladahvala8@gmail.com

© Programming.ua
          </pre>
        </div>
    {% endblock %}