{% extends 'navbar.html' %}

    {% block content %}
        {% if post %}
            <div class = "row">
                    <div class = "col s10 l10">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">
                                    <a href="/">{{ post.title }}</a>
                                </span>
                                <span text-align="center"
                                display="block">
                                    <img class = "center-align responsive-img"
                                    src="/{{ post.img }}">
                                </span>  
                                <h6>Дата створення поста: <i>{{ post.created_at }}</i></h6>
                                <div class="card-content">{{ post.text }}</div>
                                <br><br><br>
                            </div>
                        </div>
                    </div>
                
                    
                </div>
                <div class="row">
                <div class = "container">
                    <div class="row">
                        <form method="POST">
                            {% csrf_token %} 
                            {{ comment_form.as_p }}
                            <button class="btn" type="submit">Опублікувати<i class="material-icons right">send</i></button>
                        </form>
                    </div>
                <br><br>
                {% for comment in comments %}
                <div class="row valign-wrapper">
                    <div class="col s12 l12">
                        <div class= "card-panel #ff5252 red accent-2">
                            <div class= "card-content">
                                <div class="row" align="justify">
                                    <div class="col s12">
                                        <div class="card-panel #ffebee red lighten-5">
                                            <p>{{ comment }}</p>
                                        </div>
                                    </div>
                                </div>
                                <span class="white-text">Дата написання коментаря: <i>{{ comment.created_at }}</i></span>
                                
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
        {% endif %}
        
    {% endblock %}