{% extends 'navbar.html' %}

{% load static %}

{% block extra_scripts %}
    <script src="{% static 'js/edit_account.js' %}"></script>
{% endblock %}

{% block content %}
<div class="edit_acc_container">
    <div class="form-container">
        <h3><strong>Оновити профіль</strong></h3>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            {% if form.errors %}
                <div class="alert alert-danger">
                    {{ form.errors }}
                </div>
            {% endif %}
            <input type="submit" class="btn btn-primary" value="Оновити профіль">
            <a href="{% url 'account' %}" class="btn btn-secondary">Назад до профілю</a>
        </form>
    </div>
</div>

{% endblock %}
